@import 'init/customcolors';

.advertizerSiteLink {
  @media (max-width: 767px) {
    display: none!important;
  }
}

body {
  @media (max-width: 767px) {
    background-color: transparent;
  }
}

#page {
  @media (max-width: 767px) {
    background-image: none!important;
  }
}
