.title_recommended {
  color: #666;
  font-weight: bold;
  margin: 0 auto 0em;
  display: table;
}

.title_orange {
  color: white;
  font-weight: bold;
  margin: 0em auto;
  display: block;
  background-color: #ef5223;
  text-align: center;
}

.block__title {
  margin: 0.5em 0;
  margin-left: 0.2em;
  padding: 0 0.2em;
  background-color: #4e729a;
  color: white;
  text-align: center;
  font-size: 120%;
  display: inline-block;
  line-height: normal;
}

.sidebar .block__title {
  margin-left: 0;
  background-color: #ef5223;
  margin-bottom: 0.5em;
}

.block-views .block__title a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.block-views .block__title a:hover {
  color: #dfe6ef;
}

.view .view-content {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.view .view-content .views-row {
  flex-basis: 20%;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin: 0.3em;
  flex-basis: 200px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.21);
  transition: all 0.2s;
  position: relative;
}

.view .view-content .views-row img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  overflow: hidden;
}

.view .view-content .views-row img:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.view .view-content .views-row .views-field-title {
  line-height: normal;
  padding: 0.5em;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.view .view-content .views-row .views-field-title a {
  text-decoration: none;
  transition: color 0.2s;
  color: #333;
  display: block;
}

.view.view-related-by-topic .view-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.view.fp-block .views-row {
  box-shadow: none;
  background-color: transparent;
}

.view.smallImg .view-content .views-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 1em;
}

.view.smallImg .view-content .views-row .views-field-field-image {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-basis: 35%;
}

.view.smallImg .view-content .views-row .views-field-title {
  flex-basis: 65%;
  padding: 0;
  padding-left: 0.5em;
}

.view.titleOnly .view-content .views-row {
  display: -webkit-box;
  display: flex;
  background-color: transparent;
  box-shadow: none;
  margin: 0.5em 0.3em;
}

.view.titleOnly .view-content .views-row .views-field-title {
  flex-basis: 100%;
  padding: 0;
}

.view.fp-featured .view-content .views-row {
  background-color: transparent;
  box-shadow: none;
}

.view.fp-featured .view-content .views-row .views-field-title {
  flex-basis: 100%;
  padding: 0.5em 0em;
}

.view.noBackgroundColors .view-content .views-row .views-field {
  background-color: transparent;
  box-shadow: none;
}

.view.noBackgroundColors .view-content .views-row .views-field a {
  color: inherit;
}

.view.noBackgroundColors .view-content .views-row .views-field a:hover {
  text-decoration: underline;
}

.view.view-front-page-media .view-content .views-row, .view.view-front-page-media-first .view-content .views-row {
  background-color: transparent;
  box-shadow: none;
}

.view.view-front-page-media .view-content .views-row .views-field-title a, .view.view-front-page-media-first .view-content .views-row .views-field-title a {
  color: grey;
}

@media (min-width: 768px) {
  .block__title {
    font-size: 150%;
  }
  .sidebar .views-row {
    margin-left: 0em !important;
  }
  #block-views-same-theme-block-block {
    padding: 0.5em;
  }
  #block-views-editor-s-picks-block, #block-views-photo-and-video-block {
    background-color: #4e729a;
    padding: 0.5em;
  }
  #block-views-editor-s-picks-block .block__title, #block-views-photo-and-video-block .block__title {
    background-color: #4e729a;
  }
  #block-views-editor-s-picks-block .views-row, #block-views-photo-and-video-block .views-row {
    margin: 0.3em;
  }
  #block-views-editor-s-picks-block .views-field-title, #block-views-photo-and-video-block .views-field-title {
    background-color: #4e729a;
  }
  #block-views-editor-s-picks-block .views-field-title a, #block-views-photo-and-video-block .views-field-title a {
    color: whitesmoke;
  }
  #block-views-famous-belarusians-block {
    background-color: rgba(239, 82, 35, 0.15);
    padding: 0em 1em 0.5em;
  }
}

/*# sourceMappingURL=related-content.css.map */
