.title_recommended {
  color: lightgrey;
  font-weight: bold;
  margin: 0.5em auto 0em;
  display: table;
}

.title_orange {
  color: white;
  font-weight: bold;
  margin: 0em auto;
  display: block;
  background-color: #ef5223;
  text-align: center;
}

.block__title {
  margin: 0.5em 0;
  margin-left: 0.2em;
  padding: 0 0.2em;
  background-color: #4e729a;
  color: white;
  text-align: center;
  font-size: 120%;
  display: inline-block;
  line-height: normal;
}

.sidebar .block__title {
  margin-left: 0;
  background-color: #ef5223;
  margin-bottom: 0.5em;
}

.block-views .block__title a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.block-views .block__title a:hover {
  color: #dfe6ef;
}

.view .view-content {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.view .view-content .views-row {
  flex-basis: 20%;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin: 0.3em;
  flex-basis: 200px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.21);
  transition: all 0.2s;
  position: relative;
}

.view .view-content .views-row img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}

.view .view-content .views-row img:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.view .view-content .views-row .views-field-title {
  line-height: normal;
  padding: 0.5em 0em;
  font-weight: bold;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.view .view-content .views-row .views-field-title a {
  text-decoration: none;
  transition: color 0.2s;
  color: #333;
  display: block;
}

.view.view-related-by-topic .view-content, .view.view-famous-belarusians .view-content, .view.view-latest-from-politics .view-content, .view.view-clone-of-latest-from-economy .view-content, .view.view-latest-from-sport .view-content, .view.view-latest-from-society .view-content, .view.view-latest-from-accidents .view-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.view.view-related-by-topic .view-content .views-row, .view.view-famous-belarusians .view-content .views-row, .view.view-latest-from-politics .view-content .views-row, .view.view-clone-of-latest-from-economy .view-content .views-row, .view.view-latest-from-sport .view-content .views-row, .view.view-latest-from-society .view-content .views-row, .view.view-latest-from-accidents .view-content .views-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  flex-basis: initial;
  background-color: transparent;
  box-shadow: none;
  margin: 0.2em 0.3em;
}

.view.view-related-by-topic .view-content .views-row-last, .view.view-famous-belarusians .view-content .views-row-last, .view.view-latest-from-politics .view-content .views-row-last, .view.view-clone-of-latest-from-economy .view-content .views-row-last, .view.view-latest-from-sport .view-content .views-row-last, .view.view-latest-from-society .view-content .views-row-last, .view.view-latest-from-accidents .view-content .views-row-last {
  margin-bottom: 0;
}

.view.view-related-by-topic .view-content .views-row .views-field-title, .view.view-famous-belarusians .view-content .views-row .views-field-title, .view.view-latest-from-politics .view-content .views-row .views-field-title, .view.view-clone-of-latest-from-economy .view-content .views-row .views-field-title, .view.view-latest-from-sport .view-content .views-row .views-field-title, .view.view-latest-from-society .view-content .views-row .views-field-title, .view.view-latest-from-accidents .view-content .views-row .views-field-title {
  flex-basis: 100%;
  margin: 0;
  line-height: normal;
}

.view.view-related-by-topic .view-content .views-row .views-field-field-image, .view.view-famous-belarusians .view-content .views-row .views-field-field-image, .view.view-latest-from-politics .view-content .views-row .views-field-field-image, .view.view-clone-of-latest-from-economy .view-content .views-row .views-field-field-image, .view.view-latest-from-sport .view-content .views-row .views-field-field-image, .view.view-latest-from-society .view-content .views-row .views-field-field-image, .view.view-latest-from-accidents .view-content .views-row .views-field-field-image {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-basis: 0%;
  margin-right: 0.5em;
  margin: 0.3em 0em;
}

.view.view-related-by-topic .view-content .views-row .views-field-field-image img, .view.view-famous-belarusians .view-content .views-row .views-field-field-image img, .view.view-latest-from-politics .view-content .views-row .views-field-field-image img, .view.view-clone-of-latest-from-economy .view-content .views-row .views-field-field-image img, .view.view-latest-from-sport .view-content .views-row .views-field-field-image img, .view.view-latest-from-society .view-content .views-row .views-field-field-image img, .view.view-latest-from-accidents .view-content .views-row .views-field-field-image img {
  display: none;
}

.view.view-related-by-topic a, .view.view-famous-belarusians a, .view.view-latest-from-politics a, .view.view-clone-of-latest-from-economy a, .view.view-latest-from-sport a, .view.view-latest-from-society a, .view.view-latest-from-accidents a {
  text-decoration: none;
  color: black;
  font-size: 0.95em;
}

.view.view-related-by-topic a:hover, .view.view-famous-belarusians a:hover, .view.view-latest-from-politics a:hover, .view.view-clone-of-latest-from-economy a:hover, .view.view-latest-from-sport a:hover, .view.view-latest-from-society a:hover, .view.view-latest-from-accidents a:hover {
  text-decoration: underline;
}

.view.view-related-by-topic .view-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.view.view-latest-from-tourism {
  display: -webkit-box;
  display: flex;
}

.view.view-latest-from-tourism .views-row:nth-child(2n) {
  flex-basis: 150px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.view.fp-block .views-row {
  box-shadow: none;
  background-color: transparent;
}

.view.smallImg .view-content .views-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 1em;
}

.view.smallImg .view-content .views-row .views-field-field-image {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-basis: 35%;
}

.view.smallImg .view-content .views-row .views-field-title {
  flex-basis: 65%;
  padding: 0;
  padding-left: 0.5em;
}

.view.titleOnly .view-content .views-row {
  display: -webkit-box;
  display: flex;
  background-color: transparent;
  box-shadow: none;
  margin: 0.5em 0.3em;
}

.view.titleOnly .view-content .views-row .views-field-title {
  flex-basis: 100%;
  padding: 0;
}

.view.fp-featured .view-content .views-row {
  background-color: transparent;
  box-shadow: none;
}

.view.fp-featured .view-content .views-row .views-field-title {
  flex-basis: 100%;
  padding: 0.5em 0em;
}

.view.noBackgroundColors .view-content .views-row .views-field {
  background-color: transparent;
  box-shadow: none;
}

.view.noBackgroundColors .view-content .views-row .views-field a {
  color: inherit;
}

.view.noBackgroundColors .view-content .views-row .views-field a:hover {
  text-decoration: underline;
}

.view.view-front-page-media .view-content .views-row, .view.view-front-page-media-first .view-content .views-row {
  background-color: transparent;
  box-shadow: none;
}

.view.view-front-page-media .view-content .views-row .views-field-title a, .view.view-front-page-media-first .view-content .views-row .views-field-title a {
  color: grey;
}

@media (min-width: 768px) {
  .block__title {
    font-size: 150%;
  }
  .view .view-content {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }
  .view .view-content .views-row {
    flex-basis: 20%;
    -webkit-box-flex: 1;
            flex-grow: 1;
    margin: 0.3em;
    flex-basis: 200px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.21);
  }
  .view .view-content .views-row img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    display: block;
  }
  .view .view-content .views-row .views-field-title {
    line-height: normal;
    padding: 0.3em;
    font-weight: bold;
    -webkit-box-flex: 1;
            flex-grow: 1;
  }
  .view .view-content .views-row .views-field-title a {
    text-decoration: none;
    transition: color 0.2s;
    color: #333;
    display: block;
  }
  .view.view-related-by-topic .view-content .views-row .views-field-title, .view.view-famous-belarusians .view-content .views-row .views-field-title, .view.view-latest-from-politics .view-content .views-row .views-field-title, .view.view-clone-of-latest-from-economy .view-content .views-row .views-field-title, .view.view-latest-from-sport .view-content .views-row .views-field-title, .view.view-latest-from-society .view-content .views-row .views-field-title, .view.view-latest-from-accidents .view-content .views-row .views-field-title {
    flex-basis: 65%;
    margin: 0;
    line-height: normal;
    padding-top: 0;
    padding-left: 0.5em;
  }
  .view.view-related-by-topic .view-content .views-row .views-field-field-image, .view.view-famous-belarusians .view-content .views-row .views-field-field-image, .view.view-latest-from-politics .view-content .views-row .views-field-field-image, .view.view-clone-of-latest-from-economy .view-content .views-row .views-field-field-image, .view.view-latest-from-sport .view-content .views-row .views-field-field-image, .view.view-latest-from-society .view-content .views-row .views-field-field-image, .view.view-latest-from-accidents .view-content .views-row .views-field-field-image {
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-basis: 35%;
    margin-right: 0.5em;
    margin: 0.3em 0em;
  }
  .view.view-related-by-topic .view-content .views-row .views-field-field-image img, .view.view-famous-belarusians .view-content .views-row .views-field-field-image img, .view.view-latest-from-politics .view-content .views-row .views-field-field-image img, .view.view-clone-of-latest-from-economy .view-content .views-row .views-field-field-image img, .view.view-latest-from-sport .view-content .views-row .views-field-field-image img, .view.view-latest-from-society .view-content .views-row .views-field-field-image img, .view.view-latest-from-accidents .view-content .views-row .views-field-field-image img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 70px;
    display: block;
  }
  .sidebar .views-row {
    margin-left: 0em !important;
  }
  #block-views-same-theme-block-block {
    padding: 0.5em;
  }
  #block-views-editor-s-picks-block, #block-views-photo-and-video-block {
    background-color: #4e729a;
    padding: 0.5em;
  }
  #block-views-editor-s-picks-block .block__title, #block-views-photo-and-video-block .block__title {
    background-color: #4e729a;
  }
  #block-views-editor-s-picks-block .views-row, #block-views-photo-and-video-block .views-row {
    margin: 0.3em;
  }
  #block-views-editor-s-picks-block .views-field-title, #block-views-photo-and-video-block .views-field-title {
    background-color: #4e729a;
    padding: 0.3em 0;
  }
  #block-views-editor-s-picks-block .views-field-title a, #block-views-photo-and-video-block .views-field-title a {
    color: whitesmoke;
  }
  #block-views-famous-belarusians-block {
    background-color: rgba(239, 82, 35, 0.15);
    padding: 0em 1em 0.5em;
  }
}

/*# sourceMappingURL=related-content.css.map */
