@import 'init/customcolors';


.block__title {
  margin: 0.5em 0;
  margin-left: 0.2em;
  padding: 0 0.2em;
  background-color: $ctvblue;
  color: white;
  text-align: center;
  font-size: 120%;
  display: inline-block;
  line-height: normal;
  .sidebar & {
    margin-left: 0;
    background-color: $ctvorange;
    margin-bottom: 0.5em;
  }
}

// common appearance of views (blocks)
.view {
  & .view-content {
    display: flex;
    flex-wrap: wrap;
    & .views-row {
      flex-basis: 20%;
      flex-grow: 1;
      margin: 0.3em;
      flex-basis: 150px;
      background-color: white;
      box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.21);
      // &:first-child {
      //   margin-left: 0;
      // }
      // &:last-child {
      //   margin-right: 0;
      // }
      & img {
        object-fit: cover;
        object-position: center;
        display: block;
      }
      & .views-field-title {
        line-height: normal;
        padding: 0.3em;
        font-weight: bold;
        & a {
          text-decoration: none;
          transition: color 0.3s;
          color: #333;
          &:hover {
            color: $ctvorange;
          }
        }
      }
    }
  }
  // individual appearance of views (blocks)
  &.view-related-by-topic {
    & .views-row {
      display: flex;
      align-items: flex-start;
      background-color: transparent;
      box-shadow: none;
      margin: 0.2em 0em;
      &-last {
        margin-bottom: 0;
      }
      & .views-field-title {
        flex-basis: 65%;
        margin: 0;
        line-height: normal;
        padding-top: 0;
        padding-left: 0.5em;
      }
      & .views-field-field-image {
        position: relative;
        display: flex;
        flex-basis: 35%;
        margin-right: 0.5em;
        margin: 0.3em 0em;
        & img {
          object-fit: cover;
          object-position: center;
          height: 70px;
          display: block;
        }
      }
    }
    & a {
      text-decoration: none;
      color: black;
      font-size: 0.95em;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// indidivual appearande of BLOCKS by their ID
#block-views-editor-s-picks-block {
  background-color: $ctvblue;
  padding: 0.5em;
  & .block__title {
    background-color: $ctvblue;

  }
  & .views-field-title {
    background-color: $ctvblue;
    padding: 0.3em 0;
    & a {
      color: $ctvwhite;
    }
  }
}



@media (min-width: 768px) {

  .block__title {
    font-size: 150%;

  }



  #block-views-same-theme-block-block {
    padding: 0.5em;
    // box-shadow: 1px 1px 1px transparentize(black, 0.8);
  }
}
