@import 'init/customcolors';

.title {
  &_recommended {
    color: #666;
    font-weight: bold;
    margin: 0 auto 0em;
    display: table;
  }
  &_orange {
    color: white;
    font-weight: bold;
    margin: 0em auto;
    display: block;
    background-color: #ef5223;
    text-align: center;
  }
}

.block__title {
  margin: 0.5em 0;
  margin-left: 0.2em;
  padding: 0 0.2em;
  background-color: $ctvblue;
  color: white;
  text-align: center;
  font-size: 120%;
  display: inline-block;
  line-height: normal;
  .sidebar & {
    margin-left: 0;
    background-color: $ctvorange;
    margin-bottom: 0.5em;
  }

  .block-views & {
    // margin-left: 0em;
    & a {
      color: white;
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
        color: lighten($ctvblue, 45%);
      }
    }
  }
}

// common appearance of views
.view {
  & .view-content {
    display: flex;
    flex-wrap: wrap;
    & .views-row {
      flex-basis: 20%;
      flex-grow: 1;
      margin: 0.3em;
      flex-basis: 200px;
      background-color: white;
      box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.21);
      transition: all 0.2s;
      position: relative;
      & img {
        object-fit: cover;
        object-position: center;
        display: block;
        transition: transform 0.1s;
        overflow: hidden;
        &:hover {
          filter: brightness(0.9);
        }
      }
      & .views-field-title {
        line-height: normal;
        padding: 0.5em;
        // font-weight: bold;
        flex-grow: 1;
        & a {
          text-decoration: none;
          transition: color 0.2s;
          color: #333;
          display: block;
          // &:hover {
          //   color: $ctvorange;
          // }
        }
      }
    }
  }

  &.view-related-by-topic {
    & .view-content {
      flex-direction: row;
    }
  }
  &.fp-block {
    & .views-row {
      box-shadow: none;
      background-color: transparent;
    }
  }
  &.smallImg {
    & .view-content {
      & .views-row {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 1em;
        & .views-field-field-image {
          position: relative;
          display: flex;
          flex-basis: 35%;
        }
        & .views-field-title {
          flex-basis: 65%;
          padding: 0;
          padding-left: 0.5em;
        }
      }
    }
  }
  &.titleOnly {
    & .view-content {
      & .views-row {
        display: flex;
        background-color: transparent;
        box-shadow: none;
        //font-size: 120%;
        margin: 0.5em 0.3em;
        & .views-field-title {
          flex-basis: 100%;
          padding: 0;
        }
      }
    }
  }
  &.fp-featured {
    & .view-content {
      & .views-row {
        background-color: transparent;
        box-shadow: none;
        & .views-field-title {
          flex-basis: 100%;
          padding: 0.5em 0em;
        }
      }
    }
  }
  &.noBackgroundColors {
    & .view-content {
      & .views-row {
        & .views-field {
          background-color: transparent;
          box-shadow: none;
          & a {
            color: inherit;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  &.view-front-page-media, &.view-front-page-media-first {
    & .view-content {
      & .views-row {
        background-color: transparent;
        box-shadow: none;
        & .views-field-title {
          a {
           color: grey;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {

  .block__title {
    font-size: 150%;
  }

  .sidebar {
    & .views-row {
      margin-left: 0em!important;
    }
  }

  #block-views-same-theme-block-block {
    padding: 0.5em;
    // box-shadow: 1px 1px 1px transparentize(black, 0.8);
  }

  #block-views-editor-s-picks-block {
    background-color: $ctvblue;
    padding: 0.5em;
    & .block__title {
      background-color: $ctvblue;
    }
    & .views-row {
      margin: 0.3em;
    }
    & .views-field-title {
      background-color: $ctvblue;
      & a {
        color: $ctvwhite;
      }
    }
  }

  #block-views-famous-belarusians-block {
    background-color: transparentize($ctvorange, 0.85);
    padding: 0em 1em 0.5em;
  }

  #block-views-photo-and-video-block {
    @extend #block-views-editor-s-picks-block;
  }
}
