.view-more-from-same-story {
  & .view-content {
    display: flex;
    flex-wrap: wrap;
    & .views-row {
      flex-basis: 20%;
      flex-grow: 1;
      margin: 0 0.1em;
      & img {
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
