@import 'init/customcolors';
@import 'init/custom-mixins';

.block__title {
  margin: 0.5em 0;
  // background-color: $ctvblue;
  color: $greyHeaders;
  text-align: center;
  font-size: 120%;
  display: inline-block;
  line-height: normal;
  font-weight: bold;

  .block-views & {
    // margin-left: 0em;
    & a {
      color: $greyHeaders;
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.block-views {
  margin: 1.5em 0.5em;
  @include boxShadow;
  padding: 0.5em 1em;
  #sidebar-first & {
    margin: 1em 0;
    &:first-child {
      margin-top: 0em;
      padding-top: 0em;
      & .block__title {
        margin-top: 0em;
      }
    }
  }
  #taxonomy-recommended-items & {
    box-shadow: none;
  }
}
.boxShadow--off {
  box-shadow: none;
}


.relatedLinks {
  margin: 0.5em 0em;
  display: inline-block;

}

.title {
  color: $greyHeaders;
  font-weight: bold;
  margin: 0 auto 0em;
  display: table;
  &_recommended {
    color: $ctvwhite;
  }
  &_orange {
    color: white;
    font-weight: bold;
    margin: 0em auto;
    display: block;
    background-color: #ef5223;
    text-align: center;
  }
}

.view-content {
  & ul {
    list-style-type: none;
    padding: 0em;
  }
}

#user-login {
  margin: 1em 0;
  padding: 1em;
  @include boxShadow;
}
