@import 'init/customcolors';

// reset ul and li paddings and margins
.links {
  padding: 0.5em;
  margin: 0;
  & a {
    padding: 0.5em;
    &:hover {
      background-color: darken($ctvwhite, 5%);
      color: color(link-hover);
    }
  }
}
.login-menu-hider {
  display: none;
}
.nav-group2 {
  display: none;
}
.nav-group {
  background-color: $ctvwhite;
  // overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  &.toggled-on {
  }
  & .nav-menu-div {
    position: absolute;
    z-index: 1;
    background: transparentize($ctvwhite, 0.05);
    width: 100%;
    // overflow: auto;
    display: none;
    &.toggled-on {
      display: flex;
      flex-direction: column;
      max-height: calc(100vh - 4em);
      overflow-y: auto;
      position: fixed;
      z-index: 99;
    }
  }
  & .brandAndToggleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(darken($ctvwhite, 10%), $ctvwhite);
  }
  & .toggle {
    display: block;
    margin: 0.5em;
    color: grey;
    cursor: pointer;
    text-shadow: 1px 0.5px white;
  }
  & .main-menu, & .login-menu {

    & li {
      list-style-type: none;
    }
  }
  & a {
    text-decoration: none;
    display: block;
    font-weight: bold;
    color: $ctvblue;
    &.logo {
      margin-left: 1em;
      & img {
        width: 40px;
        display: flex;
      }
    }
  }
}
a.logo_largeScreens {
  display: none;
}
#name-and-slogan {
  display: none;
}
.region-sitemap-nav {
    display: none;
}
.secondary_menu_wrapper {
  & .toggle_largeScreens {
    display: none;
  }
}


@media (min-width: 768px) {

  .links {
    padding: 0;
    margin: 0.5em;
    & a {
      &:hover {
        background-color: transparent;
        // border-bottom: 3px solid $ctvorange;
      }
    }
  }

  a.logo_largeScreens {
    display: initial;
    position: absolute;
    top: 0;
    left: 1em;
    & img {
      width: 80px;
      background-color: white;
      padding: 0.5em;
      box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.3);
    }
  }
  div#navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nav-group {
    position: relative;
    display: flex;
    align-items: flex-start;
    // background-color: transparent;
    background-color: $ctvblue;
    & .logo-div {

    }
    & .nav-menu-div {
      // max-width: 1024px;
      margin: 0 auto;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $ctvblue;
      & .main-menu {
        padding-left: 7em;
      }
      & .main-menu, & .main-menu-2, & .login-menu {
        display: flex;
        list-style-type: none;
        & li {
          & a {
            color: white;
            // font-weight: 400;
            text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5);
            &:hover {
              color: lighten($ctvblue, 40%);
            }
          }
        }
      }
      .login-menu-hider {
        display: initial;
        cursor: pointer;
        color: white;
        position: relative;
        & .login-menu {
          display: none;
          flex-direction: column;
          position: absolute;
          right: -1em;
          top: 0;
          margin-top: 2em;
          font-family: Roboto;
          font-size: 0.5em;
          width: max-content;
          background-color: $ctvblue;
          padding: 0.5em;
          &.toggled-on {
            display: initial;
          }
        }
      }
    }

    & .toggle {
      display: none;
    }
    & .brandAndToggleDiv {
      display: none;
    }
  }
  .nav-group2 {
    background-color: darken($ctvblue, 5%);
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    & .nav-menu-div {
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: darken($ctvblue, 5%);
      & .main-menu-2 {
        list-style-type: none;
        display: flex;
        & li {

          & a {
            color: $ctvwhite;
            // font-weight: 400;
            text-decoration: none;
            text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5);
            &:hover {
              color: lighten($ctvblue, 50%);
              text-decoration: underline;
            }
          }
        }
      }
      & .hot-topics-heading {
        margin: 0;
        padding: 0 0.5em;
        color: white;
        background-color: lighten($ctvorange, 7%);
        // text-shadow: 0.5px 0.5px #43413e;
      }
    }
  }
  .region-sitemap-nav.toggled-on {
    display: flex;
    position: absolute;
    justify-content: center;
    align-self: stretch;
    background-color: transparentize(black, 0.05);
    overflow: scroll;
    width: 100%;
    height: 100vh;
    z-index: 10;
    align-items: center;
    flex-wrap: wrap;
    & .block-menu-block {
      flex-basis: 33.333333%;
      flex-shrink: 0;
    }
    & ul, li {
      list-style-type: none;
      list-style-image: none;
    }
    & .block__title {
      display: none;
    }
    .menu__item.is-expanded {
      > a {
        font-size: 1.4em;
        font-weight: bold;
        border-bottom: 1px solid $ctvorange;
        color: $ctvwhite;
        text-decoration: none;
      }
      .menu {
        padding: 0em;
        margin-top: 1em;
        & a {
          color: $ctvwhite;
          text-decoration: none;
          &:hover {
            color: $ctvorange;
          }
        }
      }
    }
    & .toggle_largeScreens {
      position: absolute;
      top: 0.5em;
      color: white;
      right: 0.5em;
      cursor: pointer;
    }
  }
  .secondary_menu_wrapper {
    display: flex;
    align-items: center;
    & .toggle_largeScreens {
      color: white;
      margin: 0.25em 0.5em;
      cursor: pointer;
      display: initial;
    }
  }
}






// global hide visually hidden items
// span.element-invisible, .visually-hidden {
//   display: none;
// }
