@import 'init/customcolors';

.block {
  &.sticky {
    position: fixed;
    top: 0;
  }
  &.at-bottom {
    position: absolute;
  }
  &.noMarginBottom {
    margin-bottom: 0;
  }
  &.fp-highlighted {
    background-color: $ctvblue_lighter;
    margin-top: 1.5em!important;
    padding: 0.5em;
    & .block__title {
      background-color: $ctvorange;
    }
    &_blue {
      @extend .fp-highlighted;
      background-color: $ctvblue_lighter;
      & .block__title {
        background-color: $ctvblue;
      }
    }
  }

  &.block_filled_blue {
    background-color: $ctvblue;
    padding: 0.5em;
    margin-top: 1.5em!important;
    & a {
      color: white!important;
    }
  }

}
.block-views {
  margin: 1.5em 0;
  .sidebar & {
    margin: 1em 0;
    &:first-child {
      margin-top: 0.5em;
    }
  }
}


.relatedLinks {
  margin: 0.5em 0em;
  display: inline-block;

}

.view-content {
  & ul {
    list-style-type: none;
    padding: 0em;
  }
}

#user-login {
  margin: 1em 0;
}
