@import 'init/customcolors';
@import 'init/custom-mixins';

.block {
  &.sticky {
    position: fixed;
    top: 0;
  }
  &.at-bottom {
    position: absolute;
  }
  &.noMarginBottom {
    margin-bottom: 0;
  }
  &.fp-highlighted {
    background-color: $ctvblue_lighter;
    padding: 1em;
    &_blue {
      @extend .fp-highlighted;
      background-color: $ctvblue_lighter;
    }
  }

  &.block_filled {
    padding: 1em;
    box-shadow: none;

    &_blue {
      background-color: $ctvblue;
      & .block__title {
        color: whitesmoke!important;
      }
      & a {
        color: white!important;
      }
      & .views-field-title {
        background-color: $ctvblue;
      }
    }

    &_lightblue {
      background-color: $ctvblue_lighter;
      & .block__title {
        color: $greyHeaders!important;
      }
      & a {
        color: $greyHeaders!important;
      }
      & .views-field-title {
        background-color: $ctvblue_lighter;
      }
    }

    &_darkgrey {
      background-color: $ctvdarkgrey;
      & .block__title {
        color: $greyHeaders!important;
      }
      & a {
        color: $grey!important;
      }
      & .views-field-title {
        background-color: $ctvdarkgrey;
      }
    }
  }
}

.block__title {
  margin: 0.5em 0;
  // background-color: $ctvblue;
  color: $greyHeaders;
  text-align: center;
  font-size: 120%;
  display: inline-block;
  line-height: normal;
  font-weight: bold;

  @media (min-width: 768px) {
    
  }

  .block-views & {
    // margin-left: 0em;
    & a {
      color: $greyHeaders;
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.block-views {
  margin: 1.5em 0.5em;
  @include boxShadow;
  padding: 0.5em 1em;
  #sidebar-first & {
    margin: 1em 0;
    &:first-child {
      margin-top: 0em;
      padding-top: 0em;
      & .block__title {
        margin-top: 0em;
      }
    }
  }
}
.boxShadow--off {
  box-shadow: none;
}


.relatedLinks {
  margin: 0.5em 0em;
  display: inline-block;

}

.title {
  &_recommended {
    color: $greyHeaders;
    font-weight: bold;
    margin: 0 auto 0em;
    display: table;
  }
  &_orange {
    color: white;
    font-weight: bold;
    margin: 0em auto;
    display: block;
    background-color: #ef5223;
    text-align: center;
  }
}

.view-content {
  & ul {
    list-style-type: none;
    padding: 0em;
  }
}

#user-login {
  margin: 1em 0;
}
